*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
}
.cover{
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image:url(http://cloud.hunger-valley.com/17-9-22/87786461.jpg) center center no-repeat;
	background-size: cover;
	filter: blur(5px);
}
.musicbox{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	font-family: cursive;
	font-size: 16px;
	color:goldenrod;
	width: 340px;
}
.music-panel{
	border: 1px solid yellow;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.05);
	background-color: rgba(255,255,255,0.8);
}
.musicbox .control{
	margin-top: 10px;
	font-size: 20px;
	color: #ff904d;
	float: left;
}
.musicbox .control .fa{
	margin-left: 12px;
	cursor: pointer;
}

.musicbox .control .fa.disable{
	opacity: 0.3;
}
.musicbox .info{
	margin-left: 120px;
}

.musicbox .info .auther{
	font-size: 12px;
}
.musicbox .progress{
	/*width: 260px;*/
}

.musicbox .progress .bar{
	height: 3px;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

.musicbox .progress .progress-now{
	background-color: cornflowerblue;
	height: 3px;
	width: 0;
	position: relative;
}
.musicbox .time{
	text-align: right;
}

.musicbox:after,
.musicbox .music:after{
	content: '';
	display: block;
	clear: both;
}

.musicbox .list{
	list-style: none;
}

.musicbox .list>li{
	position: relative;
	padding: 4px 10px;
	border: 1px solid rgba(255,255,255,0.5);
	border-top: none;
	overflow: hidden;
	cursor: pointer;
}

.musicbox .list>li:hover{
	background-color: rgba(255,255,255,0.5);
}

.musicbox .list>li.playing:before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display:inline-block;
	width: 8px;
	height: 30px;
	background: rgba(255,255,255,0.4);
}